<%= provide(:title, "Home") %>

<%= render :partial => 'spree/shared/header' %>

<div>

  <div class="row">
    <h1 class="text-center h1" >Welcome to opensourceproducts.com!</h1>
	  <p class="text-center">This site is currently under construction. Come back soon!</p>
  </div>

	<div class="row">

    <%= render :partial => 'shared/carousel' %>

	</div>

</div>