.jumbotron {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  .carousel {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-collapse {
  text-align: center;
}

ul.nav.navbar-nav {
  float: none;
  display: inline-block;
}

figure#logo {
  padding-top: 10px;
  text-align: center;
}

.nav-center {

}


.sections > section {
  height: 300px;
  border: 1px gray dotted;
  text-align: center;
}
